body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.circle-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #555;
    margin-right: 30px;
}

.info-box {
    border: 2px solid black;
    padding: 15px;
    width: 400px;
    min-height: 150px;
    background: #f9f9f9;
}

#inventorImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.glow {
    animation: moveGlow 1s infinite ease-in-out;
}
@keyframes moveGlow {
    
    50% {
        box-shadow: 0 0 25px 12px blue;
    }
    100% {
        box-shadow: 0 0 10px 3px blue;
    }
}
.square {
    border-radius: 0 !important;
}
